@import "../../assets/sass/variables.module.scss";

.buttonLetsGo {
    height: 35px;
    width: 75px;
    margin-right: 10px;
    background-color: $color-secondary;
    border-radius: 15px;
    border: none;
}