@import "../../assets/sass/variables.module.scss";

.buttonExplore {
  min-width: 80px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid $color-primary;
}
