@use "./assets/sass/_variables.scss" as *;

.app {
  .greeting {
    text-align: center;

    &__heading {
      color: $color-black;
    }

    & > * {
      margin: 20px;
    }
  }
  .button-section {
    display: flex;
    margin: 20px auto;
    width: fit-content;

    & > * {
      margin: 0 10px;
    }
  }
}

@media screen and (min-width: 992px) {
  .app {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;

    .greeting {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;

      &__img {
        height: 100px;
      }
    }

    .button-section {
      display: none;
    }
  }
}
