@import "./assets/sass/variables.scss";

.app {
  color: $color-black;

  & > * {
    padding: 0 50px;
  }

  .greeting {
    text-align: center;

    &__heading {
      color: $color-black;
    }

    & > * {
      margin: 20px;
    }
  }

  .button-section {
    display: flex;
    margin: 20px auto;
    width: fit-content;

    & > * {
      margin: 0 10px;
    }
  }

  .discography {
    padding: 0;

    .all-albums {
      background-color: $color-primary;
      padding: 10px 50px 20px 50px;
    }

    & > * {
      padding: 0px 50px;
    }
  }

  .gallery {
    padding: 0;

    &__heading {
      padding: 0 50px;
    }
  }
}

@media (min-width: 992px) {
  .app {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 25px 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;

    .greeting {
      text-align: left;
      display: flex;
      grid-column: 1/ -1;

      &__img {
        height: 100px;
      }
    }

    .button-section {
      display: none;
    }

    .discover {
      grid-row: 3/4;
    }

    .discography {
      grid-row: 4/5;
      grid-column: 1/ -1;
      border-radius: 15px;
      display: grid;
      gap: 25px 100px;
      grid-template-columns: repeat(2, 1fr);

      .all-albums {
        border-radius: 15px;
        height: fit-content;
      }

      &__heading {
        grid-column: 1 / -1;
      }
    }

    .gallery {
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
      padding-right: 50px;

      &__heading {
        padding: 0;
      }
    }
  }
}
