@import "../../assets/sass/variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $color-black;

  img {
    height: 30px;
  }
}

@media (min-width: 992px) {
  .nav {
    grid-column: 1 / -1;
    h2 {
      margin: 20px auto;
    }

    .menu {
      display: none;
    }
  }
}
